@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: PowerGrotesk;
  src: url(font/PowerGrotesk-UltraBold.woff2);
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --bg-dark: #1a1a1a;
  --purple: #9b59b6;
  --darker-purple: #6c5ce7;
  --light-color: #999;
  --border-color: rgba(131, 131, 131, 0.5);
  --gradient-color-1: linear-gradient(
    to right,
    #2600fc,
    #ff00ea,
    #2600fc,
    #ff00ea,
    #2600fc
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0c0516;
  color: white;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin: 0 24px;
  z-index: 999999;
}

nav {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  background: rgba(153, 153, 153, 0.09);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(153, 153, 153, 0.3);
  padding: 0.5rem 28px;
  z-index: 999999;
}

nav .logo {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 450;
  font-family: "Montserrat", sans-serif;
}

nav ul {
  width: fit-content;
  height: fit-content;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0;
}

nav ul li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  flex-shrink: 1;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #9b59b6;
}

nav .btn-signin {
  width: fit-content;
  text-wrap: nowrap;
  padding: 10px 20px;
  background: linear-gradient(45deg, #9b59b6, #6c5ce7);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: transform 0.3s;
  font-weight: 400;
}

.navbar-extend {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.navbar-extend a {
  color: #fff;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
  border-radius: 0 0 50px 50px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-content .one {
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 250;
  text-align: start;
  transform: translateX(-50px);
}

.hero-content .two span {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 400;
  background: linear-gradient(
    to right,
    #fc72ff,
    #8f68ff,
    #487bff,
    #8f68ff,
    #fc72ff
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradient 2s linear infinite;
  background-size: 200%;
}

.hero-content .two {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 250;
  color: white;
}

.hero-content .three {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 250;
  text-align: end;
}

.icon {
  position: absolute; 
  animation: float 2.5s ease-in-out infinite; 
  opacity: 0.9; 
  width: 12rem; 
  height: auto; 
}

.icon.eth {
  top: 60%;  
  left: 10%; 
  width: 12rem;
  transform: rotate(-20deg); 
}

.icon.btc {
  top: 70%; 
  left: 70%;
  width: 15rem;
}

.icon.chart {
  top: 20%; 
  left: 75%;
  width: 11rem;
  height: auto; 
}

.about {
  height: fit-content;
}

.about .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .about-container .divider {
  width: 110px;
  margin: 5rem auto 5rem;
}

.about .about-container .about-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.about .about-container .bgblur {
  position: absolute;
  z-index: -10;
  width: 100%;
  filter: blur(50px);
}
.about-content .content-pict {
  animation: float 3s ease-in-out;
}

.about-content .content-pict img {
  width: 25rem;
}

.about-content .content-description {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content .content-description h1 {
  font-family: "PowerGrotesk";
  width: fit-content;
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.about-content .content-description p {
  width: 70ch;
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--light-color);
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.about-content .content-description .checklist {
  margin-top: 5px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.about-content .content-description .checklist p {
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--light-color);
  margin-left: 10px;
  margin-bottom: 3px;
}

svg.feather.feather-check {
  width: 24px;
}

.about .counter-sigma {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter-sigma .divider {
  width: 110px;
  margin: 7rem auto 5rem;
}

.about .counter-sigma .counters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.counter {
  position: relative;
  z-index: 1;
  animation: fadeUp 600ms ease-in-out forwards;
}

.counter h1 {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 750;
  background: var(--gradient-color-1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradient 6s linear infinite;
  background-size: 200%;
}

.counter p {
  font-size: 1rem;
  text-align: center;
  font-weight: 100;
}

.service {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  position: relative;
}

.service .bg1 {
  position: absolute;
  width: 4rem;
  left: 5%;
  top: 10%;
  transform: rotate(-20deg);
  z-index: -1;
  animation: float 2.5s ease-in-out infinite; 
}

.service .bg4 {
  position: absolute;
  width: 4rem;
  right: 3%;
  top: 110%;
  transform: rotate(-20deg);
  z-index: -1;
  animation: float 2.5s ease-in-out infinite; 
}

.service .gradient {
  opacity: 0.5;
  filter: blur(150px);
  position: absolute;
  z-index: -2;
}

.heading {
  margin: 0px 30px 0 50px;
}

.heading h1 {
  font-family: "PowerGrotesk";
  font-size: 4rem;
  font-weight: 450;
  margin: 50px 0;
}

.service-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.service-card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1%;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  gap: 20px;
  background-color: #1b1229;
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
}

.service-card:hover {
  box-shadow: 0 0 20px rgba(228, 72, 255, 0.5);
}

.service-card img {
  height: 120px;
  width: 120px;
  object-fit: contain;
}

.service-card .service-info h2 {
  font-family: "PowerGrotesk";
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 500;
  background: var(--gradient-color-1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradient 6s linear infinite;
  background-size: 200%;
}

.service-card .service-info p {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 300;
  color: var(--light-color);
}

.faqs {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
} 

.faqs .divider {
  width: 110px;
  margin: 6rem auto 3.5rem;
}

.faqs .headings h1 {
  font-family: "PowerGrotesk";
  font-size: 4rem;
  font-weight: 450;
  margin: 50px 0;
}

.faqs .gradient {
  width: 200px;
  position: absolute;
  top: 25%;
  filter: blur(150px);
  z-index: -1;
}
.faq-questions {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #1b1229;
  padding: 2%;
  border-radius: 20px;
}

.question-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid var(--border-color);
}

.question-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question-head h2 {
  font-size: 1.5rem;
  font-family: "PowerGrotesk";
  color: var(--light-color);
  transition: 0.1s ease-in-out;
}

.question-head h2:hover {
  color: var(--white-color);
}

.question-head i {
  font-size: 2.3rem;
}

.question-box p {
  height: 0;
  opacity: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--light-color);
  transition: 0.1s ease-in-out;
}

.show_ans {
  opacity: 1 !important;
  height: 50px !important;
  margin: 5px 0;
}

.Qarrow {
  transition: 0.1s ease-in-out;
}

.rotate_arrow {
  transform: rotate(180deg);
}

.crypto-market {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.crypto-market .divider {
  width: 110px;
  margin: 6rem auto 6rem;
}

.crypto-market .gradient-1 {
  height: 100%;
  width: 100%;
  opacity: .4;
  filter: blur(200px);
  position: absolute;
  z-index: -1;
  top: 10%;
}

.crypto-market .crypto-heading h1 {
  font-family: "PowerGrotesk";
  font-size: 4rem;
}

.container-crypto {
  width: 90%;  
  overflow-x: auto;  
  margin-bottom: 20px; 
  padding: 20px;
}
.crypto-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border-radius: 20px;
}

.crypto-table th,
.crypto-table td {
  padding: 24px 16px;
  font-weight: 200;
  border-bottom: 1px solid rgba(144, 144, 144, 0.5);
}

.crypto-table tr:hover {
  background-color: rgba(144, 144, 144, 0.1) ;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discover .divider {
  width: 110px;
  margin: 5rem auto 5rem;
}

.discover h1 {
  font-family: 'PowerGrotesk';
  font-size: 4rem;
  margin-top: 3rem;
}

.discover .discover-container {
  margin: 3rem;
  width: 90%;
  border-radius: 30px;
  padding: 1rem;
  display: inline;
}

.discover .discover-container img{
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #1b1229;
}

.footer-bottom {
  background: #1b1229;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.input-wrap input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 70%;
  outline: none;
}

.input-wrap button {
  padding: 10px;
  border: none;
  background: #ff6b6b;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

footer ul {
  list-style: none;
}
footer p {
  color: #fff;
  max-width: 25em;
  font-size: 0.9em;
  line-height: 23px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.brand {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}
.media-icons li,
.services-icons li {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}
.media-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px #fff solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.media-icons a:hover {
  background: #fff;
  color: #111;
}
.services-icons a {
  font-size: 1.6em;
}
.services-icons a:hover {
  color: #8f68ff;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--light-color);
  padding: 2em;
}
.footer .menu {
  margin-bottom: 1em;
}
.footer .menu li {
  display: inline-block;
  margin: 0 0.7em 0.7em 0;
  text-align: center;
}
.footer .menu a {
  transition: 0.3s;
  font-weight: 600;
}
.footer .menu a:hover {
  color: #8f68ff;
}
.input-wrap {
  margin: 1em 0;
  display: flex;
}
.input-wrap input {
  padding: 0.5em;
  border: none;
  background: #20232a;
  color: #ccc;
}
.input-wrap input:focus {
  outline: none;
}
.input-wrap button {
  padding: 0.8em;
  background: #20232a;
  border: none;
  color: #8f68ff;
  transition: 0.3s;
}
.input-wrap button:hover {
  background: #fff;
  color: #111;
}


#hamburger-menu {
  display: none;
}
@keyframes scroll {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%);
  }
}

@keyframes gradient {
  to {
    background-position: 200%;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 1200px) {
  nav ul {
  }

  nav ul li a {
  }

  .hero {
    height: 100vh;
    padding: 2rem;
  }

  .hero-content .one {
    font-size: 4.5rem;
    text-align: start;
    transform: none;
  }

  .hero-content .two span {
    font-size: 4.5rem;
  }

  .hero-content .two {
    font-size: 3rem;
  }

  .hero-content .three {
    font-size: 4.5rem;
    text-align: end;
  }

  .icon.eth {
    top: 60%;  
    left: 10%; 
    width: 11rem;
    transform: rotate(-20deg); 
  }
  
  .icon.btc {
    top: 70%; 
    left: 70%;
    width: 13rem;
  }
  
  .icon.chart {
    top: 25%; 
    left: 70%;
    width: 10rem;
    height: auto; 
  }
  
  .about-content .content-pict img {
    width: 23rem;
  }

  .about-content .content-description h1 {
    font-size: 4rem;
  }

  .about-content .content-description p {
    font-size: 1.1rem;
    width: 65ch;
  }

  .about-content .content-description .checklist p {
    font-size: 1.2rem;
  }

  .about-content .content-description {
    width: fit-content;
  }

  svg.feather.feather-check {
    width: 22px;
  }

  .counter h1 {
    font-size: 4rem;
  }

  .counter p {
    font-size: 1rem;
  }

  .service-card .service-info h2 {
    font-size: 1.4rem;
  }

  .service-card .service-info p {
    font-size: 0.9rem;
  }

  .crypto-market .crypto-heading h1{
    font-family: "PowerGrotesk";
    font-size: 4rem;
  }
}

@media (max-width: 1024px) {
  nav ul li a {
    font-size: 1rem;
    padding: 0.8rem 0;
  }

  nav ul {
    gap: 1.7rem;
  }

  .hero {
    height: 100vh;
    padding: 2rem;
  }

  .hero-content .one {
    font-size: 4.3rem;
    text-align: start;
  }

  .hero-content .two span {
    font-size: 4.3rem;
  }

  .hero-content .two {
    font-size: 2.7rem;
  }

  .hero-content .three {
    font-size: 4.3rem;
    text-align: end;
  }

  .icon.eth {
    top: 60%;  
    left: 10%; 
    width: 10rem;
    transform: rotate(-20deg); 
  }
  
  .icon.btc {
    top: 70%; 
    left: 70%;
    width: 12rem;
  }
  
  .icon.chart {
    top: 25%; 
    left: 70%;
    width: 10rem;
    height: auto; 
  }

  .about-content .content-pict img {
    width: 18rem;
  }

  .about-content .content-description h1 {
    font-size: 3.3rem;
  }

  .about-content .content-description p {
    width: 58ch;
    font-size: 1rem;
  }

  .about-content .content-description .checklist p {
    font-size: 1.1rem;
  }

  .about-content .content-description {
    width: fit-content;
  }

  svg.feather.feather-check {
    width: 22px;
  }

  .counter h1 {
    font-size: 4rem;
  }

  .counter p {
    font-size: 1rem;
  }

  .service-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer .container {
    flex-direction: column;
  }

  .crypto-market .crypto-heading h1{
    font-family: "PowerGrotesk";
    font-size: 4rem;
  }

  .crypto-table {
    font-size: 14px; 
  }
  .crypto-table th,
  .crypto-table td {
    padding: 10px 12px; 
  }
  .crypto-table img {
    width: 20px;
  }
}

@media (max-width: 768px) {
  nav {
    width: 90%;
  }

  #nav-menu {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 2rem;
    border-radius: 0;
    gap: 1.5rem;
    margin-top: 60px;
    background: rgba(153, 153, 153, 0.09);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(153, 153, 153, 0.3);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  #nav-menu.active {
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    width: 100%;
  }

  #hamburger-menu {
    display: inline-flex;
    align-items: center;
  }

  nav .btn-signin {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    font-size: 1.3rem;
    padding: 0.8rem 0;
  }

  nav ul {
    gap: 2rem;
  }

  .hero {
    height: 100vh;
    padding: 2rem;
  }

  .hero-content .one {
    font-size: 3.5rem;
    text-align: start;
  }

  .hero-content .two span {
    font-size: 3.8rem;
  }

  .hero-content .two {
    font-size: 2.5rem;
  }

  .hero-content .three {
    font-size: 3.5rem;
    text-align: end;
  }

  .hero-icons .icon {
    width: 15rem;
  }

  .icon.eth {
    top: 60%;  
    left: 10%; 
    width: 9rem;
    transform: rotate(-20deg); 
  }
  
  .icon.btc {
    top: 70%; 
    left: 70%;
    width: 11rem;
  }
  
  .icon.chart {
    top: 25%; 
    left: 70%;
    width: 9rem;
    height: auto; 
  }

  .about .about-container .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .about-content .content-pict img {
    width: 18rem;
  }

  .about-content .content-description h1 {
    font-size: 3.3rem;
  }

  .about-content .content-description p {
    width: 60ch;
    font-size: 1.1rem;
  }

  .about-content .content-description .checklist p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-bottom: 3px;
  }

  .about-content .content-description {
    width: fit-content;
  }

  svg.feather.feather-check {
    width: 22px;
  }

  .about .counter-sigma {
   margin-top: 30px;
  }

  .counter h1 {
    font-size: 3.5rem;
  }

  .counter p {
    font-size: 0.8rem;
  }

  .question-box p {
    font-size: .85rem;
  }

  .crypto-market .crypto-heading h1 {
    font-family: "PowerGrotesk";
    font-size: 3.5rem;
  }

  .crypto-table {
    font-size: 12px;
  }
  .crypto-table th,
  .crypto-table td {
    padding: 8px 10px; 
  }
  .crypto-table img {
    width: 18px; 
  }

  .about .about-container .divider {
    width: 110px;
    margin: 4rem auto 4rem;
  }
  
  .counter-sigma .divider {
    width: 110px;
    margin: 6rem auto 2rem;
  }
  
  .faqs .divider {
    width: 110px;
    margin: 5rem auto 2rem;
  }
  
  .crypto-market .divider {
    width: 110px;
    margin: 5rem auto 5rem;
  }

  .discover .discover-container {
    margin: 3rem;
    width: 90%;
    border-radius: 30px;
    padding: .5rem;
    display: inline;
  }
  
  .discover .discover-container img{
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .discover h1 {
    font-family: 'PowerGrotesk';
    font-size: 3.5rem;
  }

  .discover h1 {
    font-family: 'PowerGrotesk';
    font-size: 3.5rem;
    text-align: center;
  }
  
  
}

@media (max-width: 600px) {
  nav ul li a {
    font-size: 100%;
    padding: 0.8rem 0;
  }

  nav ul {
    gap: 2rem;
  }

  .hero {
    height: 100vh;
    padding: 2rem;
  }

  .hero-content .one {
    font-size: 2.1rem;
    text-align: start;
  }

  .hero-content .two span {
    font-size: 2.1rem;
  }

  .hero-content .two {
    font-size: 1.2rem;
    text-align: center;
  }

  .hero-content .three {
    font-size: 2.1rem;
    text-align: end;
  }

  .icon.eth {
    top: 60%;  
    left: 6%; 
    width: 6rem;
    transform: rotate(-20deg); 
  }
  
  .icon.btc {
    top: 70%; 
    left: 60%;
    width: 7rem;
  }
  
  .icon.chart {
    top: 28%; 
    left: 70%;
    width: 6rem;
    height: auto; 
  }

  .about .about-container .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .about-content .content-pict img {
    width: 13rem;
  }

  .about-content .content-description h1 {
    font-size: 2.6rem;
    margin-left: 10px;
  }

  .about-content .content-description p {
    width: 50ch;
    font-size: 0.8rem;
    margin-left: 10px;
  }

  .about-content .content-description .checklist p {
    font-size: 0.7rem;
    margin-left: 10px;
    margin-bottom: 3px;
  }

  .about-content .content-description {
    width: fit-content;
  }

  svg.feather.feather-check {
    width: 22px;
  }

  .counter h1 {
    font-size: 2.9rem;
  }

  .counter p {
    font-size: 0.7rem;
  }

  .service-card .service-info p {
    font-size: 0.9rem;
  }

  .service .heading h1 {
    font-size: 2.5rem;
  }

  .service-card img {
    height: 100px;
    width: 100px;
    object-fit: contain;
  }

  .service-card .service-info h2 {
    font-size: 1.5rem;
  }

  .service-card .service-info p {
    font-size: 0.8rem;
  }

  .faqs .headings h1 {
    font-size: 2.5rem;
  }

  .question-head h2 {
    font-size: 1rem;
  }

  .question-box p {
    font-size: 0.75rem;
  }

  .crypto-market .crypto-heading h1{
    font-family: "PowerGrotesk";
    font-size: 2.5rem;
  }

  .crypto-table {
    font-size: 10px; 
    overflow-x: scroll;
  }
  .crypto-table th,
  .crypto-table td {
    padding: 6px 8px;
  }
  .crypto-table img {
    width: 15px;
  }

  .about .about-container .divider {
    width: 110px;
    margin: 3rem auto 3rem;
  }
  
  .counter-sigma .divider {
    width: 110px;
    margin: 5rem auto 1.5rem;
  }
  
  .faqs .divider {
    width: 110px;
    margin: 4rem auto 1.5rem;
  }
  
  .crypto-market .divider {
    width: 110px;
    margin: 4rem auto 4rem;
  }

  .service .bg1 {
    position: absolute;
    width: 3rem;
    left: 5%;
    top: 5%;
    transform: rotate(-20deg);
    z-index: -1;
    animation: float 2.5s ease-in-out infinite; 
  }
  
  .service .bg4 {
    position: absolute;
    width: 3rem;
    right: 3%;
    top: 105%;
    transform: rotate(-20deg);
    z-index: -1;
    animation: float 2.5s ease-in-out infinite; 
  }

  .discover h1 {
    font-family: 'PowerGrotesk';
    font-size: 2.5rem;
    text-align: center;
  }

  .discover .discover-container {
    margin: 3rem;
    width: 100%;
    border-radius: 30px;
    padding: 1rem;
    display: inline;
  }
  
  .discover .discover-container img{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
}
