@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

::root {
  --white-color:#fff;
  --black-color:#000;
  --bg-dark:#1a1a1a;
  --purple:#9b59b6;
  --darker-purple:#6c5ce7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #0c0516;
  color: white;
}

header {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin: 0 24px;
}

nav {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  background: rgba(153, 153, 153, 0.09);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(153, 153, 153, 0.3);
  padding: 0.5rem 28px;
  z-index: 999999;
}

nav .logo {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 450;
  font-family: "Montserrat", sans-serif;
}

nav ul {
  width: fit-content;
  height: fit-content;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0;
}

nav ul li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  flex-shrink: 1;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #9b59b6;
}

nav .btn-signin {
  width: fit-content;
  text-wrap: nowrap;
  padding: 10px 20px;
  background: linear-gradient(45deg, #9b59b6, #6c5ce7);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: transform 0.3s;
  font-weight: 400;
}

.navbar-extend {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.navbar-extend a {
  color: #fff;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
  opacity: 1; 
}

.hero {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  border-radius: 0px 0px 64px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-content .one {
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
  line-height: 1.2;
  font-weight: 250;
  text-align: start;
  transform: translateX(-50px);
}

.hero-content .two span {
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
  line-height: 1.2;
  font-weight: 400;
  background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff,#8f68ff,#fc72ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradient 2s linear infinite;
  background-size: 200%;
}

.hero-content .two {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 250;
  color: white;
}

.hero-content .three {
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
  line-height: 1.2;
  font-weight: 250;
  text-align: end;
}

.hero-icons {
  position: relative;
  margin-top: 2rem;
  z-index: -1;
}

.hero-icons .icon {
  position: absolute;
  animation: float 2.5s ease-in-out infinite;
  opacity: 0.9;
}

.icon.eth {
  top: -590px;
  left:60%;
  width: 18rem;
  transform: rotate(-20deg);
}

.icon.btc {
  right: -400px;
  bottom: -500px;
  width: 30rem;
}

.icon.chart {
  right: 900px;
  top: -100px;
  width: 18rem;
}

.about {
 height: 100vh;
 padding: 5rem 12rem;
}

.about .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .about-container .divider {
  width: 150px;
  margin: 0 auto 5rem;
}

.about .about-container .about-content{
  display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about .about-container .bgblur {
  position: absolute;
  z-index: -10;
  width: 100%;
}
.about-content .content-pict{
  width: 35rem;
  animation: float 3s ease-in-out;
}

.about-content .content-description {
  display: flex;
  flex-direction: column;
}

.about-content .content-description h1{
  font-size: 6rem;
  font-weight: 500;
  background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff,#8f68ff,#fc72ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradient 2s linear infinite;
  background-size: 200%;
  margin-bottom: 15px;
}

.about-content .content-description p {
  width: 70ch;
  font-size: 1.2rem;
  font-weight: 100;
  color: rgb(213, 213, 213);
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.about-content .content-description .checklist {
  margin-top: 20px;
}

.about-content .content-description .checklist p {
  width: 70ch;
  font-size: 1.2rem;
  font-weight: 100;
  color: rgb(213, 213, 213);
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.about .counter-sigma {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter-sigma .divider {
  width: 150px;
  margin: 3rem auto 3rem auto;
}

.about .counter-sigma .counters {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 0 0rem 1rem;
  background: rgba(153, 153, 153, 0.09);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(153, 153, 153, 0.3);
}

.counter {
  position: relative;
  animation: fadeUp 600ms ease-in-out forwards;
}

.counter h1 {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 750;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.counter p {
  font-size: 1rem;
  text-align: center;
  font-weight: 100;
}



#hamburger-menu {
  display: none;
}

@keyframes gradient {
  to {
    background-position: 200%;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 600px) {

  nav ul li a {
    font-size: 99%;
    padding: 0.8rem 0;
  }

  nav ul {
    gap: 2rem;
  }

  .hero {
    height: 100vh;
    padding: 2rem;
  }
  
  .hero-content .one {
    font-size: 1.5rem !important;
    text-align: center!important;
  }

  .hero-content .two span {
    font-size: 1rem !important;
  }

  .hero-content .two {
    font-size: 1.5rem !important;
  }

  .hero-content .three {
    font-size: 1.5rem !important;
    text-align: center!important;
  }

  .hero-icons .icon {
    width: 15rem;
  }

  .icon.eth {
    top: -510px;
    left:55%;
    width: 13rem;
    transform: rotate(-20deg);
  }
  
  .icon.btc {
    right: -200px;
    bottom: -500px;
    width: 23rem;
  }
  
  .icon.chart {
    right: 800px;
    top: -100px;
    width: 13rem;
  }
  }
}

@media only screen and (max-width: 768px) {

  nav ul li a {
    font-size: 99%;
    padding: 0.8rem 0;
  }

  nav ul {
    gap: 2rem;
  }

  .hero {
    height: 100vh;
    padding: 2rem;
  }
  
  .hero-content .one {
    font-size: 2.5rem !important;
    text-align: center!important;
  }

  .hero-content .two span {
    font-size: 2rem !important;
  }

  .hero-content .two {
    font-size: 2.5rem !important;
  }

  .hero-content .three {
    font-size: 2.5rem !important;
    text-align: center!important;
  }

  .hero-icons .icon {
    width: 15rem;
  }

  .icon.eth {
    top: -510px;
    left:55%;
    width: 13rem;
    transform: rotate(-20deg);
  }
  
  .icon.btc {
    right: -200px;
    bottom: -500px;
    width: 23rem;
  }
  
  .icon.chart {
    right: 800px;
    top: -100px;
    width: 13rem;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
  nav ul li a {
    font-size: 99%;
    padding: 0.8rem 0;
  }

  nav ul {
    gap: 2rem;
  }

  .hero {
    height: 100vh;
    padding: 2rem;
  }
  
  .hero-content .one {
    font-size: 4rem !important;
    text-align: start;
  }

  .hero-content .two span {
    font-size: 5rem !important;
  }

  .hero-content .two {
    font-size: 2rem !important;
  }

  .hero-content .three {
    font-size: 4rem !important;
    text-align: end;
  }

  .hero-icons .icon {
    width: 15rem;
  }

  .icon.eth {
    top: -510px;
    left:55%;
    width: 13rem;
    transform: rotate(-20deg);
  }
  
  .icon.btc {
    right: -200px;
    bottom: -500px;
    width: 23rem;
  }
  
  .icon.chart {
    right: 800px;
    top: -100px;
    width: 13rem;
  }
}


@media only screen and (max-width: 1200px) {
  nav ul {
  }

  nav ul li {
    font-size: 95%;
  }
  
  .hero {
    height: 100vh;
    padding: 2rem;
  }
  
  .hero-content .one {
    font-size: 6rem;
    text-align: start;
    transform: none;
  }

  .hero-content .two span {
    font-size: 6.5rem;
  }

  .hero-content .two {
    font-size: 3rem;
  }

  .hero-content .three {
    font-size: 6rem;
    text-align: end;
  }

  .hero-icons .icon {
    width: 15rem;
  }

  .icon.eth {
    top: -550px;
    left:55%;
    width: 18rem;
    transform: rotate(-20deg);
  }
  
  .icon.btc {
    right: -200px;
    bottom: -500px;
    width: 30rem;
  }
  
  .icon.chart {
    right: 800px;
    top: -100px;
    width: 16rem;
  }
}

